
[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = private, protected, public, internal, file, new, override, abstract, virtual, sealed, readonly, static, extern, unsafe, volatile, async, required:suggestion
csharp_preserve_single_line_blocks = true
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion

# ReSharper properties
resharper_accessor_owner_body = accessors_with_block_body
resharper_align_multiline_argument = true
resharper_align_multiline_binary_expressions_chain = false
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_single_line_property = 1
resharper_braces_for_for = required
resharper_braces_for_ifelse = not_required
resharper_braces_for_using = not_required
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_insert_final_newline = true
resharper_csharp_max_line_length = 198
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false
resharper_default_internal_modifier = implicit
resharper_instance_members_qualify_declared_in = 
resharper_keep_existing_enum_arrangement = false
resharper_parentheses_non_obvious_operations = none, multiplicative, additive, arithmetic, shift, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise
resharper_parentheses_redundancy_style = remove
resharper_place_accessorholder_attribute_on_same_line = false
resharper_trailing_comma_in_multiline_lists = true
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_object_and_collection_initializer_style = chop_always
